{% extends "base.html" %}
{% block title %}Business Settings - {{ business.name }}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 py-10 space-y-6">

      <div class="flex items-center justify-between mb-6">
      <h1 class="text-3xl font-bold text-blue-500">Business Settings</h1>
      <a href="{% url 'business_dashboard' business.slug %}"
         class="px-4 py-2 bg-blue-100 text-gray-600 text-sm font-medium rounded hover:bg-blue-200 transition">
        ← Back to Settings
      </a>
    </div>

  <!-- Include messages -->
  {% include "core/partials/_messages.html" %}

  <!-- Include settings cards -->
  {% include "core/partials/_settings_cards.html" %}


  <div id="update-business-modal-container"></div>
</div>

{% endblock %}

